doctype
html(lang="en")
  include common/_head
  body
    header( class="header" id="home" )
      div( class="overlay-layer" )
        include components/_nav

        include components/_callToAction

    include common/_scriptUtil