
<header id="home" class="header">
  <div class="overlay-layer">
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#seed-navigation" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand">[logo]</a>
        </div>
        <div id="seed-navigation" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right small-text">
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 text-center">
          <div id="intro-section">
            <h1>Welcome</h1>
            <div class="button hidden-xs"><a href="#section1" class="btn btn-primary">Learn More</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>